<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="four columns">
        <p>Follow us:
          <a href="https://twitter.com/Audacy"><img src="{{theme.images.twitter}}" alt="Twitter"/></a>
          <a href="https://www.linkedin.com/company/audacy-inc"><img src="{{theme.images.linkedin}}" alt="LinkedIn"/></a>
        </p>
      </div>

      <nav class="eight columns" aria-label="Footer Links">
        <a class="nav-link">Terms of Service</a>
        <a class="nav-link">Privacy</a>
      </nav>
    </div>
  </div>
</footer>
<div class="dashboard">
  <div id="portal-dashboard" page="other"></div>
</div>
